body{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    background-color: #2b2b2b;
}
.container{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
 
.face{
    width: 400px;
    height: 100px;
    background-color: #ff8b00;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}
.face::after{
    content: "";
    position: absolute;
    width: 20px;
    height:30px;
    background-color: yellow;
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
    border-radius: 0 0 0 15px ;
    right: 0;
}
.face::before{
    content: "";
    position: absolute;
    width: 35px;
    height:30px;
    background-color:#f70303;
    border-right: 2px solid #bf1500;
    border-bottom: 2px solid #bf1500;
    /* border-radius: 50%; */
    border-radius: 0 0 100% 15px ;
    left: -15px;
    top: -2px;
    box-shadow: -10px 0 15px 5px #f70303 ;
}
.window{
    display: flex;
    position: absolute;
    top: calc(50% - 42px);
    left:50%;
    transform: translate(-50%,-50%);
    padding: 2px;
    width: 190px;
    height: 180px;
    background-color: #ff8b00;
    border-radius:20px 70px 0 20px  ;

}
.window-left,
.window-right{
    width: 90px;
    height: 169px;
    background-color: #ff8b00;
  
}
.window-left{
    border-radius:20px 0px 0 20px  ;
    border: 2px solid #666;
    position: relative;
    overflow: hidden;
    
}
.window-left::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 48%;
    background-color: #181818;
}
.window-right{
    border-radius:0 70px 20px 0  ;
    border: 2px solid #666;
    position: relative;
    overflow: hidden;
    
}
.window-right::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 48%;
    background-color: #181818;
}
.hand-left{
    width: 25px;
    height: 6px;
    background-color: #555;
    position: absolute;
    left: -90px;
    top: -30px;
    box-shadow: 100px 0 0  #555;
    border-radius: 0 0 0 10px;
}
.wheal{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
    left: -180px;
    top: 10px;
    box-shadow:290px 0  0 black ;
    z-index: 100;
}

.wheal::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #555;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid #ddd;
    

}
.wheal::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #555;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid #ccc;
    right: -280px;

}
.upper-wheal{
    position: absolute;
    width: 80px;
    height: 70px;
    border-radius:50%;
    background-color: #ccc;
    left: -185px;
    top: 2px;
    box-shadow:290px 0  0 #ccc ;
   
}
.banzin-side{
    position: absolute;
    border:  1px solid #555;
    width: 23px;
    height: 23px;
    border-radius: 4px;
    left: -160px;
    top: -30px;
}
.banzin-side::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #555;
    left: 5px;
    top: 50%;
}
.bottom-side{
    width: 450px;
    height: 10px;
    background-color: #ccc;
    border-radius: 20px;
    position: absolute;
    left: -225px;
    top: 43px;
    /* z-index: -1; */
    right: 0;
}